# Node
node_modules/

# Python
__pycache__/
*.py[cod]
.Python
env/
.venv/

# OS
.DS_Store

# Editor
.vscode/
*.swp

# Heroku build artifacts
/.cache/

filter-branch.log

heroku-backend-push.log

push-origin-all.log

push-origin-main.log

push-origin-tags.log
heroku-frontend-push.log
heroku-backend-push.log
heroku-backend-push.log
